

footer, .Footer__Menu
{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    margin-top:50px;
    font-size: 0.6rem;
    font-family: "Ubuntu", sans-serif;
}

footer
{
    position:relative;
}
.Footer__Link
{
    text-decoration: none;
    color: #fff;
    margin:5px;
}

.Footer__Link:hover
{
    color: #5073b8;
}

.Footer__Menu
{
    padding:0;
    margin-top:0;
    flex-direction: row;
}

.fa-twitter
{
    color: #EEEDED;
    font-size: 10px;
    margin-left: 5px;
}

.Copyright
{
    width:100%;
    text-align: center;
    padding-top: 20px;
}
.Author
{
    font-size: 0.8rem;
}

.Footer__Link:hover .fa-twitter
{
    color: #5073b8;
}

.AuthLink
{
    color: #ff79c6;
}


.LinkIcon8
{
    position:absolute;
    right: 5px;
    bottom : 10px;
    font-size: 0.4rem;
}
.LinkIcon8 a
{
    text-decoration: none;
    color: #EEEDED;
}
