

footer
{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:50px;
    margin-top:50px;
    font-size: 0.5rem;
}

.Footer__Link
{
    text-decoration: none;
    color: #fff;
}
.Footer__Link:hover
{
    color: #5073b8;
}

footer p
{
    margin:10px;
}

.fa-twitter
{
    color: #EEEDED;
    font-size: 15px;
    margin-left: 5px;
}

.Footer__Link:hover .fa-twitter
{
    color: #5073b8;
}
