

.VoteBar
{
    width:87%;
    height:60px;
    margin-top:30px;
    line-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border:1px solid #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.VoteBar__Item
{
    position:absolute;
    height:100%;
    transition: width ease-in-out 1s;
}

.VoteBar__Item--Messi
{
    text-align: right;
    right:0;
    padding-right: 10px;
    background-color: #5073b8;
}

.VoteBar__Item--CR7
{
    text-align: left;
    left:0px;
    padding-left: 10px;
    background-color: mediumvioletred;
}

.GoatIcon
{
    position: absolute;
    width:40px;
    height:40px;
    left:50%;
    z-index: 10;
    transition: transform ease-in-out 0.5s;
}
.GoatIcon:hover
{
    transform: scaleX(-1);
    transition: transform ease-in 0.5s;
}

.Pourcent
{
    font-size: 0.66rem;
    margin:10px;
    z-index: 10;
}
.PlayerNumber
{
    font-size: 0.9rem;
    z-index: 10;
}

.NumberAndPourcent
{
    position: absolute;
    top:50%;
    z-index: 100;
    transform : translate(0, -50%);
}

.NumberAndPourcent--Left
{
    left:10px;
}
.NumberAndPourcent--Right
{
    right:10px;
}


.FlipMessi
{
    transform : scaleX(-1) translate(50%, 0);
}
.FlipRonaldo
{
    transform : scaleX(1) translate(-50%, 0);
}

@media screen and (min-width: 1000px)
{
    .VoteBar
    {
        width:550px;
    }
}
