

header
{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    position: relative;
}

.Title
{
    margin-top:80px;
    font-size: 2rem;
}
.Title :first-child
{
    text-decoration: none;
    color:#FFF;
}

.SubTitle
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding-top:20px;
}


.Right
{
    position:absolute;
    right:10px;
    top:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Right__Username
{
    margin-right: 40px;
    font-size: 0.7rem;
}
.ButtonLogin
{
    background-color: transparent;
    color:#FFF;
    cursor: pointer;
    transition: background-color ease-in 0.5s;
    text-decoration: none;
    font-size: 1.5rem;
}
.ButtonLogin:hover
{
    color: #9F0D7F;
}

.Right__LogOut
{
    border:none;
    outline:none;
}

.CountDown table
{
    border-spacing: 7px;
}
.CountDown__Table__Title, .CountDown__Table__Value
{
   width:50px;
   padding:10px;
   text-align: center;
   font-size: 0.7rem;
   text-transform: none;
}
.CountDown__Table__Value
{
    background-color: #EEEDED;
    border-radius: 3px;
    color: #272829;
}
.CountDown__Table__Title
{
    padding-bottom: 0;
}

@media screen and (min-width: 800px)
{
    .ButtonLogin
    {
        right:50px;
        top:20px;
    }
}
@media screen and (min-width: 1000px)
{
    .ButtonLogin
    {
        right:100px;
    }
}