

.Notice__Msg
{
    color: #272829;
}

.h-captcha
{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.NewsLetterLabel
{
    font-family: "Ubuntu", sans-serif;
    font-size: 0.6rem;
}

#NewsLetter
{
    margin-right: 10px;
}
