

.FormVote
{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:40px;
}

.FormVote input
{
    display: none;
}
.FormVote label
{
    width:80%;
    text-align: center;
    padding:15px;
    margin:10px;
    border:2px solid gray;
    border-radius:10px;
    cursor: pointer;
    position: relative;
}


.FormVote input[type="radio"]:checked + label
{
    background-color: #FF78C4;
    border:2px solid transparent;
}
.FormVote input[type="radio"]:checked + .CurrentVote
{
    background-color: mediumseagreen;
}


.BVote
{
    text-transform: uppercase;
    width:40%;
    padding:15px;
    margin-top:20px;
    font-weight: bold;
    border:none;
    outline:none;
}
.BVote:hover
{
    color:#FFF;
    cursor: pointer;
}

.CurrentVote
{
    background-color: mediumseagreen;
}

.fa-check
{
    font-size: 30px;
    position:absolute;
    right:50px;
    top:50%;
    transform: translate(0, -50%);
}


@media screen and (min-width: 1000px)
{
    .FormVote label
    {
        width:330px;
    }
}




