

.RegisterAndLogin
{
    width:90%;
    margin:auto;
    background-color: #fff;
    border-radius: 10px;
    color: #272829;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterAndLogin__Title
{
    font-size: 1rem;
}
.Form
{
    width:100%;

}

.FormGroup
{
    width:100%;
    margin-bottom:20px;
}

.FormLabel
{
    font-size: 0.8rem;
}

.FormInput
{
    width:100%;
    height:40px;
    border:1px solid green;
    padding-left: 10px;
    font-size: 1rem;
    outline: none;
}

.FormInput:focus
{
    border:1px solid #9F0D7F;
}

.Button
{
    width:100%;
    padding:10px;
    text-align: center;
    border:none;
    outline: none;
    background-color: #272829;
    color: #EEEDED;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color ease-in 0.4s;
}
.Button:hover
{
    background-color: #9F0D7F;
}

.BRegister
{
    text-decoration: none;
    color:#272829;
    margin-top:40px;
    font-size: 0.8rem;
}
.BRegister:hover
{
    color: #9F0D7F;
}

.CurrentError
{
    border:2px solid #9F0D7F;
}


.MpResetLink
{
    text-decoration: none;
    color: #5073b8;
    font-size: 0.6rem;
    margin-top:15px;
}


@media screen and (min-width: 1000px)
{
    .RegisterAndLogin
    {
        width: 50%;
    }
}

@media screen and (min-width: 1300px)
{
    .RegisterAndLogin
    {
        width: 600px;
    }
}