


.Account
{
    width:90%;
    background-color: #EEEDED;
    color: #272829;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Account
{
    padding: 20px 0;
    border-radius: 10px;
}

.Account h4
{
    font-size: 0.7rem;
}
.InfosAndForm
{
    width: 50%;
}

.InfosAndForm tbody
{
    width: 100%;
}



.InfosG td
{
    width:100%;
    min-width:100%;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 0.6rem;
    border:1px solid lightgray;
    padding:10px;
    padding-left: 5px;
}

.InfosG .Label
{
    width: 15%;
    text-align: center;
}