

.Login
{
    width:85%;
    height:70vh;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    color: #272829;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.FormLogin
{
    width:100%;

}

.FormGroup
{
    width:100%;
    margin-bottom:20px;
}

.FormLabel
{
    font-size: 0.8rem;
}

.FormInput
{
    width:100%;
    height:40px;
    border:1px solid green;
    padding-left: 10px;
    font-size: 1rem;
}

.BLogin
{
    width:100%;
    padding:10px;
    text-align: center;
    border:none;
    outline: none;
    background-color: #272829;
    color: #EEEDED;
}

